/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
   
}
/* Cabeçalho */
header {
    background-color: black;
    color: #ddd;
    padding: 10px 0;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#logo {
    height: 100px;
    width: auto;
}    

nav ul li a {
    color: #ffe601;
    text-decoration: none;
}


body img {
    text-align:left;
   


}
p {
    background-color: black;
    color: #ddd;
    font-family: sans-serif;

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-left: 1000px;
    color: #ddd;
}

nav li {
    margin: 0 10px;
}

/* Produtos */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product {
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
    
}

.product img {
    max-width: 100%;
    background-color: #5f5f5f;
}

/* Rodapé */
footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
}

/* Barra de pesquise*/
#search-bar {
    margin: 20px;
    padding: 10px;
    width: 300px;
}


img {
    margin: 20px;
    padding: 30px;
    width: 100px;

}

/* efeito no texto do menu */
nav ul li a:hover {
    color: #fff;
    background-color: #333;
    transition: background-color 0.3s;
}

/*estilo modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* adicionar animação quando um item for adicionado no carrinho*/
.cart-update {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*responsividade para dispositivos movel*/
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        margin-left: 0;
    }
    .product {
        width: 100%;
        margin: 5px;
    }
}

/* Chatbot para atentimento ao cliente*/
#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#chatbot-window {
    display: none;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    height: 400px;
    overflow-y: auto;
}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* seleção de camisetas*/
.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
    background-color: #696666;
}

.options {
    margin: 10px 0;
}

label, select {
    margin-right: 10px;
}

footer ul li a {
    color:black;
}